@use "../../styles/variables.scss" as *;

.stream {
  .stream-section-header {
    margin: 1.5em 0 0;
  }

  &.stream-has-intro .stream-section-header {
    margin-top: 2.5em;
  }

  .stream-section-title {
    margin: 0;
    font-size: 1.25rem;
  }

  .stream-list {
    list-style: none;
    padding: 0;
    margin: 1.5em 0 0;
  }

  .stream-item {
    margin-bottom: 2.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .stream-hidden {
    display: none;
  }

  .stream-title {
    margin: 0 0 0.5em;

    a {
      background-color: transparent;
    }
  }

  .stream-body {
    margin: 0.75em 0;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .stream-meta {
    margin: 0.75em 0 0;
    opacity: 0.6;
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25em;

    .stream-meta-sep {
      opacity: 0.8;
    }

    .tags {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0.25em;

      &::before {
        content: " · ";
      }
    }
  }

  .stream-sentinel {
    height: 1px;
    visibility: hidden;
  }
}
