@use "./variables.scss" as *;
@use "sass:color";

.callout {
  border: 1px solid var(--border);
  background-color: var(--bg);
  border-radius: 5px;
  padding: 0 1rem;
  overflow-y: hidden;
  box-sizing: border-box;

  & > .callout-content {
    display: grid;
    transition: grid-template-rows 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;

    & > :first-child {
      margin-top: 0;
    }
  }

  --callout-icon-general: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/shapes.svg');
  --callout-icon-note: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/sticker.svg');
  --callout-icon-abstract: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/loader.svg');
  --callout-icon-summary: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/align-justify.svg');
  --callout-icon-tldr: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/book-open-text.svg');
  --callout-icon-info: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/badge-info.svg');
  --callout-icon-todo: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/list-todo.svg');
  --callout-icon-tip: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/clover.svg');
  --callout-icon-hint: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/search-slash.svg');
  --callout-icon-important: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/square-asterisk.svg');
  --callout-icon-success: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/check-check.svg');
  --callout-icon-check: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/check-check.svg');
  --callout-icon-done: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/check-check.svg');
  --callout-icon-question: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/circle-help.svg');
  --callout-icon-help: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/life-buoy.svg');
  --callout-icon-faq: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/circle-help.svg');
  --callout-icon-warning: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/triangle-alert.svg');
  --callout-icon-caution: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/construction.svg');
  --callout-icon-attention: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/megaphone.svg');
  --callout-icon-fail: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/circle-slash.svg');
  --callout-icon-missing: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/search.svg');
  --callout-icon-danger: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/shield-alert.svg');
  --callout-icon-error: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/ban.svg');
  --callout-icon-bug: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/bug.svg');
  --callout-icon-example: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/scroll-text.svg');
  --callout-icon-quote: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/message-square-quote.svg');
  --callout-icon-cite: url('https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/book-marked.svg');


  &[data-callout] {
    --callout-icon: var(--callout-icon-general);
    --color: rgb(182, 196, 182);
    --border: rgba(182, 196, 182, 0.267);
    --bg: rgba(182, 196, 182, 0.063);
  }

  &[data-callout="general"] {
    --color: rgb(182, 196, 182);
    --border: rgba(182, 196, 182, 0.267);
    --bg: rgba(182, 196, 182, 0.063);
    --callout-icon: var(--callout-icon-general);
  }

  &[data-callout="note"] {
    --color: rgb(200, 175, 155);
    --border: rgba(200, 175, 155, 0.267);
    --bg: rgba(200, 175, 155, 0.063);
    --callout-icon: var(--callout-icon-note);
  }

  &[data-callout="abstract"] {
    --color: rgb(34, 152, 225);
    --border: rgba(34, 152, 225, 0.267);
    --bg: rgba(34, 152, 225, 0.063);
    --callout-icon: var(--callout-icon-abstract);
  }

  &[data-callout="summary"] {
    --color: rgb(234, 181, 52);
    --border: rgba(234, 181, 52, 0.267);
    --bg: rgba(234, 181, 52, 0.063);
    --callout-icon: var(--callout-icon-summary);
  }

  &[data-callout="tldr"] {
    --color: rgb(240, 180, 225);
    --border: rgba(240, 180, 225, 0.267);
    --bg: rgba(240, 180, 225, 0.063);
    --callout-icon: var(--callout-icon-tldr);
  }

  &[data-callout="info"] {
    --color: rgb(71, 162, 187);
    --border: rgba(71, 162, 187, 0.267);
    --bg: rgba(71, 162, 187, 0.063);
    --callout-icon: var(--callout-icon-info);
  }

  &[data-callout="todo"] {
    --color: rgb(58, 173, 252);
    --border: rgba(58, 173, 252, 0.267);
    --bg: rgba(58, 173, 252, 0.063);
    --callout-icon: var(--callout-icon-todo);
  }

  &[data-callout="tip"] {
    --color: rgb(70, 206, 185);
    --border: rgba(70, 206, 185, 0.267);
    --bg: rgba(70, 206, 185, 0.063);
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="hint"] {
    --color: rgb(70, 206, 185);
    --border: rgba(70, 206, 185, 0.267);
    --bg: rgba(70, 206, 185, 0.063);
    --callout-icon: var(--callout-icon-hint);
  }

  &[data-callout="important"] {
    --color: rgb(246, 113, 118);
    --border: rgba(246, 113, 118, 0.267);
    --bg: rgba(246, 113, 118, 0.063);
    --callout-icon: var(--callout-icon-important);
  }

  &[data-callout="success"] {
    --color: rgb(87, 200, 83);
    --border: rgba(87, 200, 83, 0.267);
    --bg: rgba(87, 200, 83, 0.063);
    --callout-icon: var(--callout-icon-success);
  }

  &[data-callout="check"] {
    --color: rgb(87, 200, 83);
    --border: rgba(87, 200, 83, 0.267);
    --bg: rgba(87, 200, 83, 0.063);
    --callout-icon: var(--callout-icon-check);
  }

  &[data-callout="done"] {
    --color: rgb(87, 200, 83);
    --border: rgba(87, 200, 83, 0.267);
    --bg: rgba(87, 200, 83, 0.063);
    --callout-icon: var(--callout-icon-done);
  }

  &[data-callout="question"] {
    --color: rgb(130, 190, 235);
    --border: rgba(130, 190, 235, 0.267);
    --bg: rgba(130, 190, 235, 0.063);
    --callout-icon: var(--callout-icon-question);
  }

  &[data-callout="help"] {
    --color: rgb(250, 128, 96);
    --border: rgba(250, 128, 96, 0.267);
    --bg: rgba(250, 128, 96, 0.063);
    --callout-icon: var(--callout-icon-help);
  }

  &[data-callout="faq"] {
    --color: rgb(130, 190, 235);
    --border: rgba(130, 190, 235, 0.267);
    --bg: rgba(130, 190, 235, 0.063);
    --callout-icon: var(--callout-icon-faq);
  }

  &[data-callout="warning"] {
    --color: rgb(255, 161, 32);
    --border: rgba(255, 161, 32, 0.267);
    --bg: rgba(255, 161, 32, 0.063);
    --callout-icon: var(--callout-icon-warning);
  }

  &[data-callout="caution"] {
    --color: rgb(255, 161, 32);
    --border: rgba(255, 161, 32, 0.267);
    --bg: rgba(255, 161, 32, 0.063);
    --callout-icon: var(--callout-icon-caution);
  }

  &[data-callout="attention"] {
    --color: rgb(255, 161, 32);
    --border: rgba(255, 161, 32, 0.267);
    --bg: rgba(255, 161, 32, 0.063);
    --callout-icon: var(--callout-icon-attention);
  }

  &[data-callout="fail"] {
    --color: rgb(226, 72, 86);
    --border: rgba(226, 72, 86, 0.267);
    --bg: rgba(226, 72, 86, 0.063);
    --callout-icon: var(--callout-icon-fail);
  }

  &[data-callout="missing"] {
    --color: rgb(226, 72, 86);
    --border: rgba(226, 72, 86, 0.267);
    --bg: rgba(226, 72, 86, 0.063);
    --callout-icon: var(--callout-icon-missing);
  }

  &[data-callout="danger"] {
    --color: rgb(226, 72, 86);
    --border: rgba(226, 72, 86, 0.267);
    --bg: rgba(226, 72, 86, 0.063);
    --callout-icon: var(--callout-icon-danger);
  }

  &[data-callout="error"] {
    --color: rgb(226, 72, 86);
    --border: rgba(226, 72, 86, 0.267);
    --bg: rgba(226, 72, 86, 0.063);
    --callout-icon: var(--callout-icon-error);
  }

  &[data-callout="bug"] {
    --color: rgb(153, 93, 133);
    --border: rgba(153, 93, 133, 0.267);
    --bg: rgba(153, 93, 133, 0.063);
    --callout-icon: var(--callout-icon-bug);
  }

  &[data-callout="example"] {
    --color: rgb(216, 141, 130);
    --border: rgba(216, 141, 130, 0.267);
    --bg: rgba(216, 141, 130, 0.063);
    --callout-icon: var(--callout-icon-example);
  }

  &[data-callout="quote"] {
    --color: rgb(173, 214, 171);
    --border: rgba(173, 214, 171, 0.267);
    --bg: rgba(173, 214, 171, 0.063);
    --callout-icon: var(--callout-icon-quote);
  }

  &[data-callout="cite"] {
    --color: rgb(237, 217, 162);
    --border: rgba(237, 217, 162, 0.267);
    --bg: rgba(237, 217, 162, 0.063);
    --callout-icon: var(--callout-icon-cite);
  }

  &.is-collapsed {
    & > .callout-title > .fold-callout-icon {
      transform: rotateZ(-90deg);
    }

    .callout-content > :first-child {
      transition:
        height 0.1s cubic-bezier(0.02, 0.01, 0.47, 1),
        margin 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
      overflow-y: clip;
      height: 0;
      margin-top: -1rem;
    }
  }
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 1rem 0;
  color: var(--color);

  --icon-size: 18px;

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;
    --callout-icon: var(--callout-icon-fold);
  }

  & > .callout-title-inner > p {
    color: var(--color);
    margin: 0;
  }

  .callout-icon,
  & .fold-callout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    flex: 0 0 var(--icon-size);

    // icon support
    background-size: var(--icon-size) var(--icon-size);
    background-position: center;
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;
    padding: 0.2rem 0;
  }

  .callout-title-inner {
    font-weight: $semiBoldWeight;
  }
}
