@use "./base.scss";
@use "./themes";

// put your custom CSS here!
@use "./variables.scss" as *;

body[data-slug="index"] .page-header {
  opacity: 0;
}

hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 2em auto;
  border: none !important; 
  text-align: center;
  width: 100%;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}
